@{
    ViewData["Title"] = "CheckIn/CheckOut";
}
<div class="d-flex justify-content-between mb-3">
    <div class="ms-auto">
    <a class="btn btn-secondary " asp-controller="CheckInCheckOuts" asp-action="">
 <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#ffffff" d="m10 16.4l-4-4L7.4 11l2.6 2.6L16.6 7L18 8.4z"/></svg> Check In 
    </a>
    <a class="btn btn-secondary " asp-controller="CheckInCheckOuts" asp-action="">
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path fill="#ffffff" d="M6 13v-2h12v2z"/></svg> Check out 
    </a>
    </div>
</div>

<table class="table table-dark table-hover caption-top">
<caption>history</caption>
  <thead class="table-secondary">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">First Name</th>
      <th scope="col">Entry Hour</th>
      <th scope="col">Departure Hour</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var checkInCheckOuts in Model)
    {
        <tr>
            <td>@checkInCheckOuts.Id</td>
            @* <td>@checkInCheckOuts.FirstName</td> *@
            <td>@checkInCheckOuts.IdUser</td>
            <td>@checkInCheckOuts.EntryHour</td>
            <td>@checkInCheckOuts.DepartureHour</td>
        </tr>
    }

  </tbody>
</table>